body
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
}

h1,p,a
{
    color: #000000;
    background: #ffffff;
    display: inline-block;
    text-decoration: none;
}

h1
{
    font-weight: bold;
}

body
{
    width: 100vw;
    height: 100vh;
    background: url('../img/glitch.gif') no-repeat #010300;
    background-size: cover;
    position: relative;
}

.title
{
    position: absolute;
    top: 10%;
    left: 10%;
}

        .tab
        {
            margin: 3px 3px;
        }

.nav
{
    width: 81.5%;
    position: absolute;
    top: 50%;
    left: 15%;
}




.root
{
    position: absolute;
    top: 20%;
    left: 15%;
    font-size: 0.7em;
}

.category
{
    width: 81.5%;
    position: absolute;
    top: 50%;
    left: 9%;
    text-align: center;
}

        .category .section
        {
            border: solid #ffffff 1px;
            background: none;
            color: #ffffff;
            padding: 20px 20px;
            width: 20%;
            text-align: center;
            margin: 0 30px;
        }






/*          GALLERY         */

.grid
{
    position: absolute;
    top: 80%;
    left: 10%;
    color: #ffffff;
}

        .grid .placeHolder
        {
            position: relative;
            display: inline-block;
            width: 20vw;
            height: 50vh;
            background: #a0a0a01f;
            margin: 5vh 3vw;
        }

        .grid .theme
        {
            margin-bottom: 10%;
        }
        
        .grid .theme p
        {
            font-size: 0.7em;
            position: absolute;
            top: 65%;
            left: -10%;
        }

        .grid .illustration .placeHolder.id1
        {
            background: url('../img/Nikita_poster.jpg') no-repeat center/77%;
        }

        .grid .illustration .placeHolder.id2
        {
            background: url('../img/smk.jpg') no-repeat center/120%;
        }

        .grid .illustration .placeHolder.id3
        {
            background: url('../img/112.jpg') no-repeat center/99%;
        }



        .grid .web .placeHolder.id1
        {
            background: url('../img/spaceXproject.png') no-repeat center/180%;
        }
        .grid .web .placeHolder.id2
        {
            background: url('../img/canvas.jpg') no-repeat center/90%;
        }

        .grid .web .placeHolder.id3
        {
            background: url('../img/guess_who.jpg') no-repeat center/200%;
        }



        .grid .design .placeHolder.id1
        {
            background: url('../img/nikeHyperadapt.jpg') no-repeat center/84%;
        }

        .grid .design .placeHolder.id2
        {
            background: url('../img/inrocks_artist.jpg') no-repeat center/100%;
        }

        






/* DECORATIVES LINES  */

.lines
{
    position: absolute;
    background: #ffffff;
    
}

.lines.id1
{
    width: 0.1vw;
    height: 350vh;
    top: 0%;
    left: 9%;
}

.lines.id2
{
    width: 0.1vw;
    height: 350vh;
    top: 0%;
    left: 91%;
}

.lines.id3
{
    width: 100vw;
    height: 0.1vh;
    top: 9%;
    left: 0%;
}